<div class="flash-errors hidden">
  <div class="icon-flash">
    <i class="fa-regular fa-triangle-exclamation"></i>
  </div>
  <div class="content-flash">
    <h6 class="text-flash">
      <%= errors %>
    </h6>
    <i class="fa-regular fa-circle-xmark" onclick="this.offsetParent.classList.add('hidden')"></i>

  </div>
</div>

<div class="flash-success hidden">
  <div class="icon-flash">
    <i class="fa-solid fa-check"></i>

  </div>
  <div class="content-flash">
    <h6 class="text-flash">
      <%= success %>
    </h6>
    <i class="fa-regular fa-circle-xmark" onclick="this.offsetParent.classList.add('hidden');"></i>
  </div>
</div>