<div class="news-letters">
  <div class="container boxs">
    <div class="text">
      <h4>Sign Up Newsletters</h4>
      <p>
        Get e-mail update about our latest shop and
        <span>special offers.</span>
      </p>
    </div>
    <div class="input-email">
      <input type="email" name="inputEmail" id="" placeholder="Your email address" />
      <button class="normal" onclick="window.location.pathname='/auth/signup'">Sign
        Up</button>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <img src="/imgs/logo.png" alt="logo Photo" />
  </div>
  <div class="container">
    <div class="contact">
      <h4>Contact</h4>
      <p>
        <strong>Address:</strong> 562 Welling Road Street 32.San Francisco
      </p>
      <p><strong>Phone:</strong> +10 2222 365 /(+91)012345 6789</p>
      <p><strong>Hours:</strong> 10:00 - 18:00. Mon - sat</p>
      <h5>Follow Us</h5>
      <ul class="icons">
        <li><i class="fa-brands fa-facebook-f"></i></li>
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-pinterest-p"></i></li>
        <li><i class="fa-brands fa-youtube"></i></li>
      </ul>
    </div>
    <div class="about">
      <h4>About</h4>
      <p>About Us</p>
      <p>Delivery Information</p>
      <p>Privacy Policy</p>
      <p>Terms & Conditions</p>
      <p>Contact Us</p>
    </div>
    <div class="Account">
      <h4>My Account</h4>
      <p>Sign In</p>
      <p>View Cart</p>
      <p>My Wishlist</p>
      <p>Track My Order</p>
      <p>Help</p>
    </div>
    <div class="install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
        <img src="/imgs/pay/app.jpg" alt="" />
        <img src="/imgs/pay/play.jpg" alt="" />
      </div>
      <p>Secured Payment Gateways</p>
      <img src="/imgs/pay/pay.png" alt="" />
    </div>
  </div>
  <div class="copyright">
    <p>&copy;2021. Tech2 etc - HTML CSS E-commerce Template</p>
  </div>
</footer>