<div id="header">
  <div class="container">
    <div class="logo">
      <a href="#"><img src="/imgs/logo.png" alt="logo" /></a>
    </div>
    <div class="text">
      <i id="carte" data-content="0" class="fa-solid fa-cart-shopping shop-icon"></i>
      <div class="user-icon">
        <i class="fa-solid fa-user"></i>
      </div>
      <div id="nav-buttom">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="holder-cart">
      <div class="holde-total">
        <div class="total-carte">
          Total:
          <span class="total"></span>
        </div>
      </div>

      <div class="container-cart">
        <h6 style="text-align: center">add products to cart</h6>
      </div>
      <div>
        <a href="/payment">
          <button id="buy-button" class="normal" style="background-color: #088178">
            Buy
          </button></a>
      </div>
    </div>
    <div class="user-div">
      <div class="user-img">
        <img src="/imgs/features/f1.png" alt="">
      </div>
      <div class="user-name">
        Hassan Hossam
      </div>


      <div class="log-out">
        <i class="fa-solid fa-right-from-bracket"></i>
        <button>Log out</button>
      </div>
    </div>
    <div class="nav" id="nav-bar">

      <div class="user">
        <div class="x-icon">
          <i class="fa-solid fa-x"></i>
        </div>
        <div class="img-user">
          <img src="" alt="">
        </div>
        <div>Hello, <a href="#">Hassan</a></div>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="over-layout"></div>
</div>