<%- include('partials/head.ejs') -%>

  <body>
    <div>
      <img src="" alt="">
    </div>
    <main>
      <div class="img-404">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 130" aria-hidden="true" role="img">
          <g clip-path="url(#clip0_11370_50655)">
            <path
              d="M88.917 31.316c8.648 0 15.658-7.01 15.658-15.658S97.565 0 88.917 0 73.259 7.01 73.259 15.658s7.01 15.658 15.658 15.658z"
              fill="url(#paint0_radial_11370_50655-uid-1)"></path>
            <path
              d="M132.372 33.738c1.2-6.317-18.095-15.286-43.096-20.033-25.001-4.747-46.24-3.473-47.44 2.844-1.2 6.318 18.095 15.287 43.096 20.034 25.001 4.746 46.241 3.473 47.44-2.845z"
              fill="#13544E"></path>
            <path
              d="M132.384 33.738c1.181-6.318-18.091-15.28-43.101-20.075-25.01-4.794-46.243-3.436-47.447 2.87l.425-2.197c1.18-6.317 22.436-7.593 47.447-2.845 25.01 4.747 44.305 13.721 43.101 20.074l-.425 2.173z"
              fill="url(#paint1_linear_11370_50655-uid-1)"></path>
            <path
              d="M87.5 23.085c13.45 2.562 23.83 7.38 23.18 10.78a2.48 2.48 0 01-1.417 1.607l-5.089 3c-2.764 1.629-10.628 1.7-19.59 0-8.963-1.701-16.25-4.654-18.233-7.18l-3.637-4.665a2.444 2.444 0 01-.72-2.02c.637-3.353 12.068-4.073 25.506-1.522z"
              fill="url(#paint2_linear_11370_50655-uid-1)"></path>
            <path
              d="M105.214 37.239c.522-2.749-7.87-6.65-18.742-8.715-10.873-2.064-20.11-1.51-20.633 1.24-.521 2.748 7.87 6.65 18.743 8.714 10.873 2.064 20.11 1.51 20.632-1.24z"
              fill="#13544E"></path>
            <path
              d="M95.353 35.366c.26-1.371-3.928-3.318-9.354-4.349-5.427-1.03-10.038-.754-10.298.617-.26 1.372 3.928 3.318 9.355 4.349 5.427 1.03 10.037.754 10.297-.617z"
              fill="url(#paint3_linear_11370_50655-uid-1)"></path>
            <path
              d="M56.1 129.999c25.448 0 46.077-5.213 46.077-11.643 0-6.43-20.63-11.643-46.077-11.643s-46.077 5.213-46.077 11.643c0 6.43 20.63 11.643 46.077 11.643z"
              fill="#FCCD81"></path>
            <path
              d="M88.917 31.316c8.648 0 15.658-7.01 15.658-15.658S97.565 0 88.917 0 73.259 7.01 73.259 15.658s7.01 15.658 15.658 15.658z"
              fill="url(#paint4_radial_11370_50655-uid-1)"></path>
            <path
              d="M132.372 33.738c1.2-6.317-18.095-15.286-43.096-20.033-25.001-4.747-46.24-3.473-47.44 2.844-1.2 6.318 18.095 15.287 43.096 20.034 25.001 4.746 46.241 3.473 47.44-2.845z"
              fill="#13544E"></path>
            <path
              d="M132.384 33.738c1.181-6.318-18.091-15.28-43.101-20.075-25.01-4.794-46.243-3.436-47.447 2.87l.425-2.197c1.18-6.317 22.436-7.593 47.447-2.845 25.01 4.747 44.305 13.721 43.101 20.074l-.425 2.173z"
              fill="url(#paint5_linear_11370_50655-uid-1)"></path>
            <path
              d="M87.5 23.085c13.45 2.562 23.83 7.38 23.18 10.78a2.48 2.48 0 01-1.417 1.607l-5.089 3c-2.764 1.629-10.628 1.7-19.59 0-8.963-1.701-16.25-4.654-18.233-7.18l-3.637-4.665a2.444 2.444 0 01-.72-2.02c.637-3.353 12.068-4.073 25.506-1.522z"
              fill="url(#paint6_linear_11370_50655-uid-1)"></path>
            <path
              d="M105.214 37.239c.522-2.749-7.87-6.65-18.742-8.715-10.873-2.064-20.11-1.51-20.633 1.24-.521 2.748 7.87 6.65 18.743 8.714 10.873 2.064 20.11 1.51 20.632-1.24z"
              fill="#13544E"></path>
            <path
              d="M95.353 35.366c.26-1.371-3.928-3.318-9.354-4.349-5.427-1.03-10.038-.754-10.298.617-.26 1.372 3.928 3.318 9.355 4.349 5.427 1.03 10.037.754 10.297-.617z"
              fill="url(#paint7_linear_11370_50655-uid-1)"></path>
            <path
              d="M95.376 35.238c0-1.37-4.122-3.224-9.376-4.227-5.043-.957-9.447-.791-10.18.342l-64.745 84.49A3.839 3.839 0 0010 118.358c0 6.436 20.63 11.644 46.053 11.644 25.424 0 46.053-5.22 46.053-11.644v-.188l-6.813-82.932"
              fill="url(#paint8_linear_11370_50655-uid-1)"></path>
            <path
              d="M63.635 118.804c8.79 0 15.918-.798 15.918-1.783 0-.984-7.127-1.783-15.918-1.783s-15.918.799-15.918 1.783c0 .985 7.127 1.783 15.918 1.783z"
              fill="url(#paint9_radial_11370_50655-uid-1)"></path>
            <path d="M54.506 70.979a.32.32 0 00-.354-.284.308.308 0 00-.248.166l-1.015 1.972 1.9.945-.283-2.8z"
              fill="#F2F7F2"></path>
            <path
              d="M55.179 83.664v6.495c.018.334.018.67 0 1.004l-.91 8.56a3.16 3.16 0 01-1.452 2.363l-.85.531a1 1 0 00-.46.756.639.639 0 00.566.732.387.387 0 00.166 0l2.043-.189a3.154 3.154 0 002.716-2.752l.59-5.727a21.256 21.256 0 011.287-5.384 50.084 50.084 0 002.28-7.7l-5.976 1.311z"
              fill="url(#paint10_radial_11370_50655-uid-1)"></path>
            <path
              d="M61.154 82.293l-2.775.638a3.436 3.436 0 00-.767 1.889v.46l-.236 2.516-1.181 12.765a3.139 3.139 0 01-1.476 2.361l-.638.402a1.288 1.288 0 00-.496.59h.709a3.155 3.155 0 002.704-2.751l.59-5.727a21.256 21.256 0 011.287-5.385 50.086 50.086 0 002.28-7.758z"
              fill="url(#paint11_linear_11370_50655-uid-1)"></path>
            <path
              d="M75.49 75.245l3.177-2.244a9.8 9.8 0 014.44-1.735l.815-.107a9.86 9.86 0 007.557-5.266l2.704-5.231a1.523 1.523 0 00-.283-1.807 1.559 1.559 0 00-2.197 0c-.167.18-.296.393-.377.626l-.839 2.61a9.86 9.86 0 01-8.183 6.777 9.966 9.966 0 00-5.007 2.138l-2.456 2.007"
              fill="url(#paint12_radial_11370_50655-uid-1)"></path>
            <path d="M50.267 71.288a.319.319 0 00-.449 0 .33.33 0 00-.118.248v3.542l1.996-2.125-1.429-1.665z"
              fill="#F2F7F2"></path>
            <path
              d="M77.922 78.88a12.076 12.076 0 00-1.346-3.542 8.402 8.402 0 00-.933-1.299l-6.436 4.936v2.031a25.364 25.364 0 003.802 12.434l1.051 1.69c.14.226.214.488.213.755l-.106 4.617-1.181.626a.756.756 0 00-.33 1.015.788.788 0 00.755.414l1.18-.13a3.963 3.963 0 002.61-1.535 4.183 4.183 0 00.874-2.138l.555-5.255c0-.354.071-.696.095-1.05a46.715 46.715 0 00-.803-13.568z"
              fill="url(#paint13_radial_11370_50655-uid-1)"></path>
            <path
              d="M76.565 75.315a8.41 8.41 0 00-.933-1.3l-4.121 3.165-.153 1.37a16.03 16.03 0 00-.06 2.102v.815a25.258 25.258 0 004.11 12.328l1.098 1.665c.15.223.228.487.224.756v4.617l-1.18.637a.82.82 0 00-.414.614v.189a3.973 3.973 0 002.067-1.369 4.22 4.22 0 00.874-2.138l.555-5.255c0-.354.07-.708.094-1.05a46.82 46.82 0 00-.85-13.58 12.103 12.103 0 00-1.31-3.566z"
              fill="url(#paint14_linear_11370_50655-uid-1)"></path>
            <path
              d="M80.745 78.835a11.632 11.632 0 00-1.322-3.39 8.761 8.761 0 00-8.455-4.321c-2.14.212-4.213.872-6.082 1.937l-7.085 4.003a1.18 1.18 0 01-1.606-.45.235.235 0 010-.094l-.897-1.96a3.767 3.767 0 00-4.476-2.09 4.274 4.274 0 00-3.058 4.546 4.37 4.37 0 00.496 1.618 5.162 5.162 0 003.838 2.633l.118.272a11.809 11.809 0 006.093 6.235l-1.393 12.741a3.142 3.142 0 01-1.512 2.362l-.661.39a1.257 1.257 0 00-.614.897.792.792 0 00.886.921l1.77-.177a3.326 3.326 0 001.524-.567 3.712 3.712 0 001.582-2.468l1.087-7.002a7.593 7.593 0 011.724-3.684 14.702 14.702 0 002.468-4.11 9.883 9.883 0 005.904-4.818l1.004-1.9v.731a25.365 25.365 0 003.79 12.435l1.063 1.7c.141.222.212.481.2.744l-.105 4.617-1.181.614a.806.806 0 00-.437.602.755.755 0 00.661.839h.165l1.181-.13a3.964 3.964 0 002.704-1.488 4.18 4.18 0 00.874-2.137l.555-5.243c0-.355.071-.697.095-1.051a46.81 46.81 0 00-.898-13.757z"
              fill="url(#paint15_radial_11370_50655-uid-1)"></path>
            <path
              d="M52.085 81.254a3.235 3.235 0 001.901-.354 4.12 4.12 0 002.197-3.814v-.579l-.898-1.972a3.778 3.778 0 00-4.475-2.09 4.275 4.275 0 00-3.059 4.546 4.3 4.3 0 00.496 1.618 5.196 5.196 0 003.838 2.645z"
              fill="url(#paint16_radial_11370_50655-uid-1)"></path>
            <path
              d="M49.075 76.223a.425.425 0 100-.85.425.425 0 000 .85zm3.165-.554a.425.425 0 100-.85.425.425 0 000 .85z"
              fill="#13544E"></path>
            <path
              d="M56.17 76.506v.579a4.11 4.11 0 01-2.196 3.814 3.235 3.235 0 01-1.9.354l.105.26a11.809 11.809 0 006.13 6.258l.27-2.515.532-5.361-1.015-2.988-.237.13a1.18 1.18 0 01-1.605-.437l-.083-.094z"
              fill="url(#paint17_radial_11370_50655-uid-1)"></path>
            <path d="M53.999 80.9a3.236 3.236 0 01-1.901.355l.106.26c.311.758.707 1.48 1.18 2.149l1.382-1.004L54 80.9z"
              fill="url(#paint18_radial_11370_50655-uid-1)"></path>
            <path
              d="M65.204 83.061a6.353 6.353 0 010 4.027 14.868 14.868 0 01-2.468 4.11 7.51 7.51 0 00-1.724 3.672l-1.086 7.014a3.701 3.701 0 01-1.618 2.456 3.2 3.2 0 01-1.547.567l-1.771.189a.804.804 0 01-.886-.933 1.27 1.27 0 01.614-.897l.662-.39a3.143 3.143 0 001.511-2.362l1.417-12.741.272-2.516v-.46l.484-4.9 6.14 3.164z"
              fill="url(#paint19_radial_11370_50655-uid-1)"></path>
            <path
              d="M80.13 101.034a4.185 4.185 0 00.874-2.138l.555-5.255c0-.354.07-.696.094-1.05a46.82 46.82 0 00-.909-13.757 11.81 11.81 0 00-1.323-3.39 8.773 8.773 0 00-6.234-4.262l-.662 4.215-.366 2.775a24.075 24.075 0 00-.141 2.126v.815a25.365 25.365 0 003.802 12.434l1.063 1.689a1.3 1.3 0 01.2.755l-.106 4.617-1.18.603a.794.794 0 00-.438.602.755.755 0 00.662.838c.054.012.11.012.165 0l1.18-.118a3.989 3.989 0 002.764-1.499z"
              fill="url(#paint20_radial_11370_50655-uid-1)"></path>
            <path
              d="M72.55 75.385l-3.543 5.904.78 2.87a9.854 9.854 0 001.31-1.89l1.004-1.901v-.07c.011-.707.058-1.413.141-2.115l.307-2.798z"
              fill="url(#paint21_radial_11370_50655-uid-1)"></path>
            <path
              d="M72.55 75.385l-1.582 2.054a29.202 29.202 0 01-5.763 5.621 6.27 6.27 0 010 4.027 9.896 9.896 0 005.904-4.83l.957-1.723v-.26c.011-.707.059-1.412.141-2.114l.343-2.775z"
              fill="url(#paint22_radial_11370_50655-uid-1)"></path>
            <path
              d="M51.106 78.678l-.355-1.535h-.177a1.18 1.18 0 00-1.275.496.933.933 0 00.095 1.181.921.921 0 001.086.213l.626-.355z"
              fill="url(#paint23_radial_11370_50655-uid-1)"></path>
            <path
              d="M51.105 78.68l-.354-1.535.154-.13a1.181 1.181 0 011.358-.094.933.933 0 01.425 1.086.945.945 0 01-.898.673h-.685z"
              fill="url(#paint24_radial_11370_50655-uid-1)"></path>
            <path d="M50.75 77.476a.354.354 0 100-.708.354.354 0 000 .708z" fill="#13544E"></path>
          </g>
          <defs>
            <radialGradient id="paint0_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(85.988 9.034) scale(15.6581)">
              <stop offset=".77" stop-color="#91E6B2"></stop>
              <stop offset=".8" stop-color="#8DE4AC"></stop>
              <stop offset=".83" stop-color="#80DE9A"></stop>
              <stop offset=".88" stop-color="#6CD47D"></stop>
              <stop offset=".92" stop-color="#50C655"></stop>
              <stop offset=".97" stop-color="#2CB422"></stop>
              <stop offset="1" stop-color="#14A800"></stop>
            </radialGradient>
            <radialGradient id="paint4_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(85.988 9.034) scale(15.6581)">
              <stop offset=".77" stop-color="#91E6B2"></stop>
              <stop offset=".8" stop-color="#8DE4AC"></stop>
              <stop offset=".83" stop-color="#80DE9A"></stop>
              <stop offset=".88" stop-color="#6CD47D"></stop>
              <stop offset=".92" stop-color="#50C655"></stop>
              <stop offset=".97" stop-color="#2CB422"></stop>
              <stop offset="1" stop-color="#14A800"></stop>
            </radialGradient>
            <radialGradient id="paint9_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(13.4742 0 0 1.48445 63.565 117.016)">
              <stop offset=".3" stop-color="#EB9546"></stop>
              <stop offset=".93" stop-color="#EB9546" stop-opacity="0"></stop>
            </radialGradient>
            <radialGradient id="paint10_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(8.43129 0 0 12.9842 62.973 90.911)">
              <stop offset=".58" stop-color="#F2F7F2"></stop>
              <stop offset=".76" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint12_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(13.4968 -5.2245 3.15204 8.14287 81.386 62.464)">
              <stop offset=".71" stop-color="#F2F7F2"></stop>
              <stop offset=".83" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint13_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(11.09477 -4.59195 8.44457 20.4032 78.382 84.43)">
              <stop offset=".55" stop-color="#F2F7F2"></stop>
              <stop offset=".69" stop-color="#DDE7DD"></stop>
              <stop offset=".84" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint15_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(.82489 27.50203 -22.54786 .6763 65.964 85.66)">
              <stop offset=".82" stop-color="#F2F7F2"></stop>
              <stop offset=".88" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint16_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(.17178 5.72713 -6.01323 .18036 55.206 75.674)">
              <stop offset=".63" stop-color="#F2F7F2"></stop>
              <stop offset=".79" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint17_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="rotate(88.282 -9.963 70.988) scale(7.99797 8.23769)">
              <stop offset=".68" stop-color="#F2F7F2"></stop>
              <stop offset=".81" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint18_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(.0666 2.22 -1.8201 .0546 50.897 80.808)">
              <stop offset=".35" stop-color="#9AAA97"></stop>
              <stop offset="1" stop-color="#9AAA97" stop-opacity="0"></stop>
            </radialGradient>
            <radialGradient id="paint19_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(11.21808 4.13298 -6.22267 16.89008 64.212 85.612)">
              <stop offset=".58" stop-color="#F2F7F2"></stop>
              <stop offset=".76" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint20_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="rotate(88.493 .38 79.22) scale(22.444 49.3002)">
              <stop offset=".58" stop-color="#F2F7F2"></stop>
              <stop offset=".76" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint21_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(-1.04154 5.67044 -3.58344 -.6582 73.311 79.842)">
              <stop offset=".34" stop-color="#C3D2C3"></stop>
              <stop offset=".7" stop-color="#D8E2D8"></stop>
              <stop offset=".88" stop-color="#E4EBE4"></stop>
            </radialGradient>
            <radialGradient id="paint22_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="rotate(141.072 19.731 50.446) scale(8.34704 6.86495)">
              <stop offset=".7" stop-color="#F2F7F2"></stop>
              <stop offset=".82" stop-color="#DDE7DD"></stop>
              <stop offset=".95" stop-color="#C3D2C3"></stop>
            </radialGradient>
            <radialGradient id="paint23_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="rotate(-12.779 372.467 -184.99) scale(1.63258)">
              <stop offset=".55" stop-color="#E4EBE4"></stop>
              <stop offset=".64" stop-color="#D0DACF"></stop>
              <stop offset=".83" stop-color="#9DAD9A"></stop>
              <stop offset=".84" stop-color="#9AAA97"></stop>
            </radialGradient>
            <radialGradient id="paint24_radial_11370_50655-uid-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(1.82065 -.65949 .63218 1.74527 51.764 77.415)">
              <stop offset=".55" stop-color="#E4EBE4"></stop>
              <stop offset=".64" stop-color="#D0DACF"></stop>
              <stop offset=".83" stop-color="#9DAD9A"></stop>
              <stop offset=".84" stop-color="#9AAA97"></stop>
            </radialGradient>
            <linearGradient id="paint1_linear_11370_50655-uid-1" x1="41.836" y1="21.185" x2="132.856" y2="21.185"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#13544E"></stop>
              <stop offset=".39" stop-color="#124F49"></stop>
              <stop offset=".84" stop-color="#0F413C"></stop>
              <stop offset="1" stop-color="#0D3A35"></stop>
            </linearGradient>
            <linearGradient id="paint2_linear_11370_50655-uid-1" x1="65.454" y1="18.432" x2="106.134" y2="41.919"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#13544E"></stop>
              <stop offset=".84" stop-color="#0D3A35"></stop>
            </linearGradient>
            <linearGradient id="paint3_linear_11370_50655-uid-1" x1="90.435" y1="34.464" x2="78.697" y2="31.951"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#0D3A35"></stop>
              <stop offset="1" stop-color="#092622"></stop>
            </linearGradient>
            <linearGradient id="paint5_linear_11370_50655-uid-1" x1="41.836" y1="21.185" x2="132.856" y2="21.185"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#13544E"></stop>
              <stop offset=".28" stop-color="#124F49"></stop>
              <stop offset=".61" stop-color="#0F413C"></stop>
              <stop offset=".96" stop-color="#0A2925"></stop>
              <stop offset="1" stop-color="#092622"></stop>
            </linearGradient>
            <linearGradient id="paint6_linear_11370_50655-uid-1" x1="65.454" y1="18.432" x2="106.134" y2="41.919"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#13544E"></stop>
              <stop offset=".84" stop-color="#092622"></stop>
            </linearGradient>
            <linearGradient id="paint7_linear_11370_50655-uid-1" x1="90.435" y1="34.464" x2="78.697" y2="31.951"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#0D3A35"></stop>
              <stop offset="1" stop-color="#092622"></stop>
            </linearGradient>
            <linearGradient id="paint8_linear_11370_50655-uid-1" x1="47.764" y1="141.574" x2="89.259" y2="26.11"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7B0B2" stop-opacity="0"></stop>
              <stop offset=".22" stop-color="#DDA9CA" stop-opacity=".46"></stop>
              <stop offset=".48" stop-color="#BDA1E7"></stop>
              <stop offset="1" stop-color="#F7B0B2"></stop>
            </linearGradient>
            <linearGradient id="paint11_linear_11370_50655-uid-1" x1="57.34" y1="103.938" x2="57.34" y2="82.293"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#9AAA97"></stop>
              <stop offset=".16" stop-color="#AAB9A8"></stop>
              <stop offset=".38" stop-color="#B8C7B7"></stop>
              <stop offset=".63" stop-color="#C0CFC0"></stop>
              <stop offset="1" stop-color="#C3D2C3"></stop>
            </linearGradient>
            <linearGradient id="paint14_linear_11370_50655-uid-1" x1="726.665" y1="1300.12" x2="726.665" y2="1976.9"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#9AAA97" stop-opacity=".54"></stop>
              <stop offset=".16" stop-color="#AAB9A8"></stop>
              <stop offset=".38" stop-color="#B8C7B7"></stop>
              <stop offset=".63" stop-color="#C0CFC0"></stop>
              <stop offset="1" stop-color="#C3D2C3"></stop>
            </linearGradient>
            <clipPath id="clip0_11370_50655-uid-1">
              <rect width="145" height="130" fill="#fff"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="text-404">
        <h1>This page doesn't exist</h1>
        <div>Please <a href="">return</a> to the previous page, or visit our <a href="">home page</a> .
          If the issue continues, visit our Help Center.</div>

        <p>Error 404 (N)</p>

      </div>
    </main>
  </body>

  </html>