<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="icon" href="imgs/Logo/logo.png">
  <title>Cera</title>
</head>

<body>
  <div id="header">
    <div class="container">
      <div class="logo">
        <a href="#"><img src="imgs/logo.png" alt="logo" /></a>
      </div>
      <div class="text">
        <i data-content="0" class="fa-solid fa-cart-shopping shop-icon"></i>
        <div class="user-icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div id="nav-buttom">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>
      <div class="holder-cart">
        <div class="holde-total">
          <div class="total-carte">
            Total:
            <span class="total"></span>
          </div>
        </div>

        <div class="container-cart">
          <h6 style="text-align: center">add products to cart</h6>
        </div>
        <div>
          <a href="payment.hbs">
            <button id="buy-button" class="normal" style="background-color: #088178">
              Buy
            </button></a>
        </div>
      </div>
      <div class="nav" id="nav-bar">
          <ul>
            <li><a href="index.hbs" class="active">Home</a></li>
            <li><a href="shop.hbs">Shop</a></li>
            <li><a href="blog.hbs">Blog</a></li>
            <li><a href="about.hbs">About</a></li>
            <li><a href="contact.hbs">Contact</a></li>
          </ul>
        </div>
    </div>
  </div>

  <div class="main-sec-home" id="main">
    <div class="container">
      <h4>Trade-in-offer</h4>
      <h2>Super value daels</h2>
      <h1>On all Products</h1>
      <p>Save more coupons & up to 70% off!</p>
      <button onclick="window.location.pathname='shop.hbs'">Shop Now</button>
    </div>
  </div>
  <div class="features">
    <div class="container boxs">
      <div>
        <img src="imgs/features/f1.png" alt="photo">
        <h6>Free Shopping</span>
      </div>
      <div>
        <img src="imgs/features/f2.png" alt="photo">
        <h6>Online oreder</span>
      </div>
      <div>
        <img src="imgs/features/f3.png" alt="photo">
        <h6>Save Money</span>
      </div>
      <div>
        <img src="imgs/features/f4.png" alt="photo">
        <h6>Promotions</span>
      </div>
      <div>
        <img src="imgs/features/f5.png" alt="photo">
        <h6>Happy Sell</span>
      </div>
      <div>
        <img src="imgs/features/f6.png" alt="photo">
        <h6>F24/7 Support</span>
      </div>
    </div>
  </div>
  <div class="feature product01">
    <h2>Features Products</h2>
    <p>Summer Collection New Modern desgin</p>
    <div class="container boxs">
    </div>
  </div>
  <div class="banner">
    <h4>Reapair Services</h4>
    <h2>Up to <span>70% off</span> -All T-Shirts & Accessries</h2>
    <button class="normal">Explore More</button>
  </div>
  <div class="arrivals product01">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Modern desgin</p>
    <div class="container boxs">

    </div>
  </div>
  </div>

  <footer>
    <div class="container">
      <img src="imgs/logo.png" alt="logo Photo">
    </div>
    <div class="container">
      <div class="contact">
        <h4>Contact</h4>
        <p><strong>Address:</strong> 562 Welling Road Street 32.San Francisco </p>
        <p><strong>Phone:</strong> +10 2222 365 /(+91)012345 6789</p>
        <p><strong>Hours:</strong> 10:00 - 18:00. Mon - sat</p>
        <h5>Follow Us</h5>
        <ul class="icons">
          <li> <i class="fa-brands fa-facebook-f"></i> </li>
          <li> <i class="fa-brands fa-twitter"></i></li>
          <li> <i class="fa-brands fa-instagram"></i></li>
          <li> <i class="fa-brands fa-pinterest-p"></i></li>
          <li> <i class="fa-brands fa-youtube"></i></li>
        </ul>
      </div>
      <div class="about">
        <h4>About</h4>
        <p>About Us</p>
        <p>Delivery Information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
      </div>
      <div class="Account">
        <h4>My Account</h4>
        <p>Sign In</p>
        <p>View Cart</p>
        <p>My Wishlist</p>
        <p>Track My Order</p>
        <p>Help</p>
      </div>
      <div class="install">
        <h4>Install App</h4>
        <p>From App Store or Goodle Play</p>
        <div class="row">
          <img src="imgs/pay/app.jpg" alt="">
          <img src="imgs/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gatewats</p>
        <img src="imgs/pay/pay.png" alt="">
      </div>
    </div>
    <div class="copyright">
      <p> &copy;2021. Tech2 etc - HTML CSS Ecommerce Templete</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="js/app.js"></script>
  <script>
    showData();
    //Show data in page
    async function showData(){
      products= await getAllData();
      setProdutBoxs(document.querySelector(".feature .container"), products, 0, 8);
      setProdutBoxs(document.querySelector(".arrivals .container"), products, 8, 12);
      ProductsOnclick();
      totalPrice(document.querySelectorAll(".total"));
    }


  function ProductsOnclick(){
  document.querySelectorAll(".product-box").forEach(product => {
      product.addEventListener("click", () => {
        window.location.pathname = "/shop.hbs";
      });
    });
    }
  </script>
</body>







</html>