<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="imgs/Logo/logo.png">
  <title>Cera</title>
</head>

<body>
  <div class="main">
    <div class="payment">
      <div class="heade-holder">
        <div class="text">
          <h2>Pay Securely</h2>
        </div>
        <div class="img-price">
          <img src="./imgs/logo.png" alt="">
          <div class="total-price">
            Total:
            <span class="total"></span>
          </div>
        </div>
      </div>
      <div class="holder">
        <div class="information">
          <div class="carde-info  div-click">
            <h4>Credit Card</h4>
            <div class="holde">
              <div> ENTER CARD NUMBER </div>
              <div>
                <img src="https://secure-media.hotstarext.com/web-assets/prod/images/dc-sg-card-icons.svg" alt="">
              </div>
            </div>
          </div>
          <div class="place-info div-click">
            <h4>Delivery Location</h4>
            <div class="holde">
              <div> ENTER DELIVERY LOCATION</div>
              <div>
                <i class="fa-solid fa-location-dot"></i>
              </div>
            </div>
          </div>
          <footer>
            <p>
              Subscription will automatically renew at the then current annual price. Ts and Cs apply.
              By Proceeding, I confirm that I meet the minimum age requirements, and I agree to the Subscriber Agreement
              and
              <a href="">Privacy Policy</a>
            </p>
          </footer>
        </div>
      </div>
      <div class="credit-card popup show">
        <div class="inf">
          <div class="bs-header">LOCATION</div>
          <form action="" method="post">
            <div>
              <input id="carde-number" name="Card Number" maxlength="19" type="text" required
                placeholder="XXXX XXXX XXXX XXXX" onblur="checkCardeAllNumbers(this)" onkeypress="return cardeSpace()"
                oninput="checkCardeFirstNumbers(this,document.getElementById('visa-img'))" />
              <label for="carde-number">Card Number</label>
              <span id="error-carde">Please enter a valid Card Number</span>
              <img id="visa-img" src="">
            </div>
            <div class="row-input">
              <div>
                <input name="buyer's City" id="carde-date" maxlength="5" type="text" required placeholder="MM/YY"
                  onkeypress="return  addSlashes()">
                <label for="">VALIDITY</label>
              </div>
              <div>
                <input name=" zip-code" type="text" maxlength="3" onkeypress="return onlyNumbers(event)" required />
                <label for="">CVV</label>
              </div>
            </div>
            <div>
              <input name="buyer's Email" type="text" required />
              <label for="">Name</label>
            </div>
            <div class="buttom">
              <a href=""> <button class="normal non-click" onclick="return false">PAY SECURELY &nbsp; </button></a>
            </div>
        </div>
        </form>
        <div class="bs-footer">
          <div class="total-footer">
            Total:
            <span class="total"></span>
          </div>

        </div>
      </div>
      <div class="location popup show">
        <div class="inf">
          <div class="bs-header">CREDIT CARDS</div>
          <form action="" method="post">
            <div>
              <input id="full-name" name="full name" type="text" />
              <label for="">Full Name</label>
            </div>
            <div>
              <input name="Adress" type="text" required />
              <label for="">Adress</label>
            </div>
            <div class="row-input">
              <div>
                <input name="City" type="text" required placeholder="">
                <label for="">State</label>
              </div>
              <div>
                <input name=" zip-code" type="text" onkeypress="return onlyNumbers(event)" required />
                <label for="">Zip Code</label>
              </div>
            </div>
        
          <div class="bs-footer">
            <div class="buttom">
              <a href=""><button class="normal">SEND </button></a>
            </div>
          </div>
            </form>
        </div>
      </div>
    </div>
  </div>



  <script src="js/app.js"></script>
  <script>
    totalPrice(document.querySelectorAll(".total"));
    popupOverlay(document.querySelectorAll(".holde"));
      //  focusOnInputs(document.querySelectorAll("input"));


  </script>

</body>

</html>