<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="imgs/Logo/logo.png">
  <title>Log In - Cera</title>
</head>

<body>
  <div class="layout">
  <div class="img-log">
    <img src="imgs/logo.png" alt="">
  </div>
  <div class="main-log">
    <div class="text-head">
      Log in to Cera
    </div>
    <div class="log">
      <div class="email-input">
        <form action="">
          <div>
            <i class="fa-solid fa-user"></i>
            <input required type="text" name="" id="" placeholder="Username or Email">
          </div>
        <button class="normal">Containue with Email</button>
        </form>
        <span class="or-span">or</span>
      </div>
      <div class="accounts">
        <div class="google-log">
          <button>Containue with Google</button>
        </div>
        <div class="apple-log">
          <button><i class="fa-brands fa-apple"></i> Containue with Apple</button>
        </div>
        <span >Don't have an Upwork account? </span>
      </div>
              <div class="sin-up">
          <button>Sin Up</button>
        </div>
    </div>
  </div>

  </div>







   {{!-- <div class="over-layout"></div> --}}
  <script src="js/app.js"></script>
  <script>

  </script>

</body>

</html>