/* Set global properties */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}


.product-show-top {
  animation: slideTop .5s ease-in-out both;
}

.product-show-right {
  animation: slideRight .5s ease-in-out both;
}

.product-show-left {
  animation: slideLeft .5s ease-in-out both;
}

@keyframes slideTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}



html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #088178;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: 0;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: 0;
  transition: 0.2s;
}

.container {
  padding: 0 80px;
}

.container.boxs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

body.hidden {
  overflow-y: hidden;
}

/* for imgs in the top pages */
.holder-image {
  height: 30vh;
  background-size: cover;
  background-position: top 25% right 0;
  position: relative;
  max-height: 250px;


}

.holder-image h2 {
  color: white;
  text-align: center !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}








/* Start Header */
#header {
  position: sticky;
  top: 0;
  z-index: 2;
}

#header .container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: #e3e6fe;
  box-shadow: 0 5px 15px rgb(0 0 0 / 6%);
  position: relative;
}


#header .container .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;

}

.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nav li {
  position: relative;
  width: 60px;
}

.nav ul a {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s;
}

#header .text i {
  font-size: 20px;
  transition: font-size 0.3s;
  width: 20px;
  color: black;
  position: relative;
  cursor: pointer;
}



.nav ul a:hover {
  color: var(--main-color);
}

.nav ul a.active {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-color);
}

#header .text i.active {
  font-size: 24px;
  color: var(--main-color);
}



#header .text .shop-icon::after {
  content: attr(data-content);
  color: var(--main-color);
  font-size: 10px;
  background-color: white;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: -13px;
  right: -10px;
  transition: .3s;
}

.holder-cart #buy-button {
  display: none;
  width: 100%;
  background-color: #088178;
  color: white;
  font-size: 18px;
  border-radius: 10px;

}

.container-cart h6:first-child {
  margin-top: 10px;
}

#buy-button.show {
  display: block;
}

.holder-cart {
  width: 300px;
  height: fit-content;
  max-height: 350px;
  position: absolute;
  top: -300px;
  right: 38px;
  background-color: #e3e6fe;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  transition: .3s;
  z-index: -1;
  box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
}


/* User-Div*/
.user-div {
  width: 300px;
  position: absolute;
  top: -300px;
  right: 38px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: .3s;
  z-index: -1;
  box-shadow: -20px -7px 30px rgb(0 0 0 / 10%);
}

.user-div>div {
  padding: 15px;
}

.user-div .user-img {
  display: flex;
  justify-content: center;
  padding: 5px 0;

}

.user-div .user-img img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  padding: 1px;

}

.user-div .user-name {
  text-align: center;
  font-weight: 600;

}

.user-div .log-out i {
  transform: rotate(180deg);
  font-size: 20px;
  font-weight: 600;
}

.user-div .log-out button {
  text-align: left;
  margin-left: 25px;
  border: none;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
}

.user-div .log-out:hover {
  background-color: #f2f7f2;
  cursor: pointer;
}








.holder-cart .holde-total {
  border-bottom: 2px solid var(--main-color);

  margin: 0 15px 0 10px;
  padding: 10px;
}

.holder-cart .total-carte {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
  font-weight: 700;
}

.holder-cart .total-carte span {
  font-size: 16px;
  font-weight: 800;
  color: var(--main-color);

}

.holder-cart.show {
  top: 84.5px;
}

.user-div.show {
  top: 84.5px;
}

.container-cart {
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.container-cart::-webkit-scrollbar {
  width: 10px;
}

.container-cart::-webkit-scrollbar-track {
  background-color: #e7e9ec;
  border-radius: 100vw;
}

.container-cart::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 100vw;
}

.container-cart div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  position: relative;
  margin-bottom: 10px;
}

.container-cart div img {
  width: 70px;
  border-radius: 10px;
}

.container-cart div h2 {
  font-size: 16px;
  padding: 0 10px;
  color: var(--main-color);
}

.container-cart div h6 {
  padding-right: 20px;
}

.container-cart .plus-minus {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 50px;
  margin-bottom: 3px;
}

.container-cart .plus-minus i {
  color: white;
  background-color: var(--main-color);
  font-size: 15px;
  padding: 4px;
  cursor: pointer;
}

.container-cart div i.fa-regular {
  position: absolute;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.container-cart div i.fa-regular:hover {
  color: red;
}


/* Start main section  */
.main-sec-home {
  background-image: url(../imgs/hero4.png);
  height: 90vh;
  background-size: cover;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-sec-home h4 {
  padding-bottom: 15px;
}

.main-sec-home h1 {
  color: var(--main-color);
}

.main-sec-home button {
  border: none;
  background-image: url(../imgs/button.png);
  background-size: cover;
  color: var(--main-color);
  background-color: transparent;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

/* Start features */
.features {
  margin-top: 50px;
}

.features .container div {
  border: 1px solid black;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  border: 1px solid #cce7d0;
  margin: 15px 0;
  cursor: pointer;
  width: 150px;
}

.features .container div:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.07);
}

.features .container div img {
  width: 120px;
  margin-bottom: 10px;
}

.features .container div h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  list-style: 1;
  border-radius: 5px;
  background-color: var(--main-color);
  background-color: #fddde4;
}

.features .container div:nth-child(2) h6 {
  background-color: #cdebbc;
}

.features .container div:nth-child(3) h6 {
  background-color: #d1e8f2;
}

.features .container div:nth-child(4)h6 {
  background-color: #cdd4f8;
}

.features .container div:nth-child(5) h6 {
  background-color: #f6dbf6;
}

.features .container div:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* Start Products */
.all-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product01 {
  text-align: center;
  margin-top: 70px;
}



.product01 .product-box {
  width: 23%;
  min-width: 230px;
  max-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.3s ease;
  position: relative;
  margin: 20px 0;
  opacity: 0;
}


.product01 .product-box:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

.product01 .product-box img {
  width: 100%;
  border-radius: 20px;
}

.product01 .product-box .details {
  text-align: start;
  padding: 10px 0;
}

.product01 .product-box .details span {
  color: #606063;
  font-size: 12px;
}

.product01 .product-box .details h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product01 .product-box .details i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.product01 .product-box .details h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--main-color);
}

.product01 .product-box .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: var(--main-color);
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* Start banner */
.banner {
  background-image: url(../imgs/banner/b2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  padding: 40px 10px;
}

.banner h4 {
  color: white;
  font-size: 16px;
}

.banner h2 {
  color: white;
  font-size: 30px;
  margin-top: 10px;
}

.banner h2 span {
  color: red;
}

.banner button:hover {
  background-color: var(--main-color);
  color: white;
}

/* Start sm-banner */
.sm-banner .banner-box {
  background-image: url(../imgs/banner/b17.jpg);
  background-size: cover;
  background-position: center;
  min-width: 580px;
  height: 50vh;
  text-align: start;
  padding: 30px;
}

.sm-banner .banner-box h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.sm-banner .banner-box h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

.sm-banner .banner-box span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  display: block;
}

.sm-banner .banner-box:hover button {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.sm-banner .banner-box2 {
  background-image: url(../imgs/banner/b10.jpg);
}

/* Start third banner */
.third-banner .container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 30vh;
  text-align: start;
  padding: 20px;
  margin-top: 20px;
}

.third-banner .container div:nth-child(1) {
  background-image: url(../imgs/banner/b7.jpg);
}

.third-banner .container div:nth-child(2) {
  background-image: url(../imgs/banner/b4.jpg);
}

.third-banner .container div:nth-child(3) {
  background-image: url(../imgs/banner/b18.jpg);
}

.third-banner .container div h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
  margin: 0;
}

.third-banner .container div h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

/* start newsletters */
.news-letters {
  margin: 70px 0;
  background-color: #031d41;
  width: 100%;
  padding: 50px 0;
}

.news-letters .text h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.news-letters .text p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

.news-letters .text p span {
  color: #ffbd27;
}

.news-letters .input-email {
  display: flex;
}

.news-letters .input-email input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 300px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.news-letters .input-email button {
  background-color: var(--main-color);
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* footer */
footer {
  width: 100%;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
  gap: 30px;
  margin: 15px 0 30px;
}

footer .container div {
  flex-basis: 1;
}

footer .container div h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

footer .container div h4 {
  font-size: 17px;
}

footer .container .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .container .icons li {
  width: 25px;
}

footer .container .icons i {
  font-size: 15px;
  margin-right: 6px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

footer .container .icons i:hover {
  opacity: 1;
  font-size: 17px;
}

footer .install img {
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

#nav-buttom {
  display: none;
  width: 25px;
  height: 15px;
  cursor: pointer;
  position: relative;
}

#nav-buttom span {
  position: absolute;
  left: 0;
  background-color: black;
  width: 100%;
  height: 2px;
  transition: all 0.5s ease;
}

#nav-bar.click {
  left: calc(100% - 125px);
}




/* ----------------------------------------------------- */
/* Shop Page */
.products-holder .container {
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  padding: 0 20px;
  scroll-behavior: smooth;
}

.products-holder .container::-webkit-scrollbar {
  width: 10px;

}

.products-holder .container::-webkit-scrollbar-track {
  background-color: hsl(216, 12%, 92%, .5);
  border-radius: 100vw;

}

.products-holder .container::-webkit-scrollbar-thumb {
  background-color: rgb(22, 151, 143, .5);
  border-radius: 100vw;
}

.products-holder .container:hover::-webkit-scrollbar-thumb {
  background-color: rgb(22, 151, 143, 1);
}


.products-holder .button-products {
  display: flex;
  align-items: center;
}

.main-sec-shop {
  background-image: url(../imgs/banner/b1.jpg);
}


.products-holder button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  height: 100px;
  opacity: .7;
}

.products-holder button:hover {
  opacity: 1;
}

.products-holder button i {
  padding: 10px;
  font-size: 30px;
  color: white;
}

/* ----------------------------------------------------- */

.product,
.main-blog,
.main-about {
  margin-top: 50px;
}

.product .container,
.main-blog .container,
.main-about .container,
.contact .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.product .container div,
.main-blog .container div {
  min-width: 220px;
  max-width: 400px;
}

.product .container .imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  /* min-width: 250px; */
  max-width: 300px;
  flex: 1;
}

.product .container .imgs #main-img {
  background-color: rebeccapurple;
}

.product .container .imgs img,
.main-blog .container img,
.main-about .container img {
  width: 100%;
  cursor: pointer;
}

.product .container .imgs .other-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  position: relative;
}





.product .container .imgs .other-imgs img {
  width: 25%;
  cursor: pointer;

}

.product .container .text {
  text-align: left;
}

.product .text h4 {
  padding: 5px 0 10px;
  font-weight: 400;
}

.product .text .product-details {
  margin-top: 15px;
}

.product .text h4 span {
  font-weight: 700;
}

.product .text h6 span {
  color: var(--main-color);
}

.product .text h2 {
  font-size: 26px;
  color: var(--main-color);
}

.product .text select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
}

.product .text input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}

.product .text button {
  background-color: var(--main-color);
  color: white;
}

.product .text span {
  line-height: 25px;
}





/* ----------------------------------------------------- */
/* blog Page */

.main-sec-blog {
  background-image: url(../imgs/banner/b19.jpg);
  overflow-x: hidden;
}

.main-blog .container h2 {
  position: relative;
  bottom: -25px;
  z-index: -1;
  color: #c9cbce;
}

.main-blog .container .text span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  position: relative;
  cursor: pointer;
}

.main-blog .container .text span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -70px;
  background-color: black;
  height: 1px;
  width: 60px;
}

.main-blog .container .text span:hover {
  color: var(--main-color);
}

.main-blog .container .text span:hover::after {
  background-color: var(--main-color);
}


.main-blog .container .text h6 {
  padding: 10px 0;
  color: #465b52;
  font-weight: 500;
}



/* Start contact page */
.main-sec-contact {
  background: linear-gradient(273deg, rgb(28, 170, 161) 0%, rgba(6, 59, 55, 1) 100%);
}

.main-sec-about {
  background-image: url(../imgs/about/banner.png);
}

.main-about .container div,
.contact .container div {
  min-width: 300px;
  max-width: 500px;
}


.main-about .container .text h6 {
  padding: 10px 0;
  color: #465b52;
  font-weight: 600;
  font-size: 14px;
}

.about-app {
  margin-top: 50px;
}

.about-app .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-app .container .vidoe-app {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.about-app .container .vidoe-app video {
  width: 60%;

  border-radius: 20px;
}







/* Payment page */
.credit-card.show,
.location.show {
  top: -35%;
}


.credit-card #visa-img {
  position: absolute;
  top: 5px;
  right: 5px;
}

.credit-card #error-carde.show {
  display: block;
}

.credit-card #error-carde {
  color: red;
  position: absolute;
  top: -13px;
  right: 0;
  font-size: 10px;
  display: none;
}

.popup {
  box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transition: .3s;
  z-index: 7;
  transform: translateY(-50%);
  background-color: white;
}

.popup .bs-header {
  padding: 24px 0 20px 16px;
  margin-left: 24px;
  height: 58px;
  padding: 24px 0 20px 16px;
  margin-left: 24px;
  font-size: 14px;
  font-weight: 600;
}

.popup form {
  margin: 10px 16px 26px;
  border-radius: 9px;
  min-height: 50px;
  padding: 10px;
  position: relative;

}

.popup form>div {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.popup form .row-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 50px;
}

.location form .row-input {
  margin-bottom: 0 !important;
}

.popup form .row-input>div {
  position: relative;
}


.popup form label {
  padding-bottom: 5px;
  position: absolute;
  top: -8px;
  left: 10px;
  background-color: #fff;
  padding: 2px;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #8b8b8b;
  font-weight: 600;
}

.popup form div input {
  width: 100%;
  border: 1.3px solid #D8D8D8;
  padding: 10px 15px;
  font-size: 13px;
  text-transform: none;
  border-radius: 5px;
  outline: none;
  color: black;
  font-weight: 500;
  caret-color: var(--main-color);
}



.popup form div input:focus {
  border: 1.3px solid var(--main-color);
}

.popup form div input:focus+label {
  color: var(--main-color);

}

.credit-card .bs-footer {
  background-color: #f6f6f6;
  min-height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 5px;
}

.popup .bs-footer .total-footer {
  font-weight: 700px;

}

.popup .bs-footer .total-footer span {
  font-size: 16px;
  font-weight: 800;
}

.credit-card button.non-click {
  font-size: 12px;
  background: rgb(13, 143, 134);
  background: linear-gradient(90deg, rgba(13, 143, 134, 1) 0%, rgba(6, 59, 55, 1) 100%);
  color: white;
  opacity: .5;
  cursor: not-allowed;
  position: absolute;
  right: 0;
  bottom: 0;
}

.credit-card button {
  font-size: 12px;
  background: rgb(13, 143, 134);
  background: linear-gradient(90deg, rgba(13, 143, 134, 1) 0%, rgba(6, 59, 55, 1) 100%);
  color: white;
}

.location .bs-footer {
  background-color: #f6f6f6;
  min-height: 78px;
  padding: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: calc(100% + 52.5px);
  left: 50%;
  bottom: -67px;
  transform: translateX(-50%);
  z-index: -1;

}

.location .buttom {
  margin: auto;
  width: 200px;
  display: flex;
  justify-content: center;

}

.credit-card .buttom {
  margin: 0;
  position: absolute;
  bottom: -25px;
  right: 5px;

}

.location button {
  font-size: 12px;
  background: rgb(13, 143, 134);
  background: linear-gradient(90deg, rgba(13, 143, 134, 1) 0%, rgba(6, 59, 55, 1) 100%);
  color: white;
  opacity: .5;
  cursor: not-allowed;
}

.over-layout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0%;
  height: 100%;
  transition: .2s;
  background-color: rgb(0, 0, 0, .7);
}

.main-payment .over-layout {
  width: 100%;
  height: 0%;
}

.over-layout.show {
  height: 100%;
}

.over-layout.click-nav {
  width: 100%;
}


/* Start contact page */
.contact {
  margin: 50px 0;
}

footer .contact {
  margin: 0;
}

.contact .container div {
  margin: 30px auto;
}

.contact .container form {
  max-width: 500px;
}

.contact .container form label {
  font-weight: 600;
  margin: 15px 0 4px;
}

.contact .container form input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
}

.contact .container form textarea {
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-size: 18px;
  outline: none;
  border-radius: 10px;
  width: 100%;

}

.contact .container form button {
  width: 150px;
  background-color: #088178;
  color: white;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: large;

}

.contact .container form button i {
  color: black;
  padding-right: 7px;
  font-size: medium;
  transition: all .3s;
  position: relative;

}

.contact .container form button i::after {
  content: "";
  background-color: white;
  position: absolute;
  top: 10px;
  left: 0px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  transition: all .3s;
  opacity: 0;
}

.contact .container form button::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 30px;
  left: 40px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  transition: all .3s;
  opacity: 0;
}

.contact .container form button:hover::before {
  animation: rsend2 2s ease-out none;
}

.contact .container form button:hover i {
  animation: send 2s linear none;
}

.contact .container form button:hover i::after {
  animation: rsend 2s linear none;
}


.contact iframe {
  width: 600px;
  max-width: 600px;
}



@keyframes send {
  from {
    top: 0;
    right: 0;

  }

  to {
    top: -15px;
    right: -15px;
    opacity: .5;
  }

}

/* Animation */
@keyframes rsend {
  from {
    opacity: 1;
    top: 12px;
    left: 0px;

  }

  to {
    top: 15px;
    left: -15px;
    opacity: 0;
  }

}

@keyframes rsend2 {
  from {
    opacity: 1;
    top: 30px;
    left: 40px;

  }

  to {
    top: 35px;

    opacity: 0;
  }
}



/* Responsive For pc */
@media (max-width:2000px) {
  .main-blog .container h2 {
    font-size: 46px;
    line-height: 64px;
  }
}

@media (max-width: 1050px) {
  .container.boxs:not(.holder-cont .container.boxs) {
    justify-content: space-evenly;
    justify-content: center;
  }

  .main-sec-home {
    height: 40vh;
    background-position: top 30% right 70%;
  }

  .third-banner .container div h2 {
    line-height: 25px;
  }

  .news-letters .text h4 {
    text-align: center;
  }

  .product .container {
    justify-content: space-evenly;
    justify-content: flex-start;
  }

  .sm-banner .banner-box {
    height: 25vh;
    background-position: top 10% right 20%;
  }

  .sm-banner .banner-box h4 {
    font-size: 12px;
  }

  .third-banner .container div {
    height: 15vh;
  }

  .third-banner .container div h2 {
    font-size: 18px;
  }

  .third-banner .container div h3 {
    font-size: 10px;
  }

  .main-about .container div {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
  }

  .holder-image {
    height: 20vh;

  }

  /* shop page */
  .products-holder .button-products button {
    display: none;
  }
}


@media (max-width: 899px) {
  .container {
    padding: 0 20px;
  }

  .products-holder .container {
    padding: 0 20px;
    margin: 0;
  }

  .main-sec-home h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .main-sec-home h1 {
    font-size: 30px;
  }

  .third-banner .container div {
    height: 12vh;
  }

  .third-banner .container div h2 {
    font-size: 15px;
    line-height: 20px;
  }

  .third-banner .container div h3 {
    font-size: 8px;
  }

  /* Sin-up page */
  .layout .img-log img:not(.sin-up .img-log img) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 25px;
  }
}

#nav-bar .user {
  padding: 25px;
  background-color: #232f3e;
  font-weight: 600;
  color: white;

  display: none;
  flex-direction: row;
  align-items: center;

  gap: 15px;
}

#nav-bar .user .img-user {
  background-color: red;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}



#nav-bar .user a {
  color: white;
  font-weight: 700;
}

.x-icon {
  position: absolute;
  left: -40px;
  font-size: 20px;
  cursor: pointer;
}



@media (max-width: 799px) {
  #nav-bar {
    position: fixed;
    bottom: -50%;
    left: calc(100% + 200px);
    width: 250px;
    z-index: 6;
    height: 100vh;
    background-color: #e3e6fe;
  }

  #nav-bar .user {
    display: flex;
  }

  #nav-bar.click ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    justify-content: center;
  }

  #nav-bar.click ul li {
    height: 40px;
  }

  #nav-buttom {
    display: block;
  }
}

/* Responsive For Phones*/
@media (max-width: 699px) {
  h2 {
    font-size: 25px;
    line-height: 20px;
  }

  p {
    font-size: 12px;
  }

  .main-sec-home {
    height: 70vh;
    background-position: top 30% right 33%;
  }

  .main-sec-home h2 {
    font-size: 20px;
  }

  .main-sec-home h1 {
    font-size: 25px;
    line-height: 45px;
  }

  .main-sec-home h4 {
    font-size: 11px;
  }

  .main-sec-home p {
    margin-top: 0;
  }

  .banner h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .sm-banner .banner-box {
    height: 35vh;
    min-width: 350px;
  }

  .sm-banner .banner-box h2 {
    font-size: 24px;
    line-height: 46px;
  }

  .third-banner .container div h2 {
    font-size: 12px;
    font-weight: 600;
  }

  .third-banner .container div h3 {
    font-size: 7px;
  }

  .product .text h2 {
    padding: 10px 0;
  }

  .contact iframe {
    max-width: 100%;
  }

  /* Sin-up */
  .main-log {
    border: none;
  }

  .sin-up .main-log {
    width: 100%;
  }
}

@media (max-height: 599px) {

  .sm-banner .banner-box {
    height: 35vh;
    background-position: top 10% right 20%;
  }

  .sm-banner .banner-box h2 {
    font-size: 20px;
    line-height: 45px;
  }

  .sm-banner .banner-box h4 {
    font-size: 16px;
  }

  .sm-banner .banner-box span {
    font-size: 10px;
  }

  .third-banner .container div {
    height: 20vh;
  }

}

@media (max-height:700px) {
  .main-sec-home {
    height: 100vh;
  }

}

@media (max-width: 499px) {
  h2 {
    font-size: 18px !important;
    line-height: 10px;
  }

  p {
    font-size: 10px !important;
  }

  .main-sec-home {
    height: 40vh;
    background-position: top 30% right 50%;
  }

  .main-sec-home h1 {
    font-size: 20px;
    line-height: 20px;
  }

  .main-sec-home h4 {
    font-size: 10px;
  }

  .main-sec-home p {
    margin-top: 5px;
  }

  .main-sec-home button {
    padding: 13px 53px 13px 50px;
  }

  .banner h2 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .banner h4 {
    font-size: 13px;
  }

  .news-letters .input-email input {
    width: 250px;
  }

  .sm-banner .banner-box h2 {
    line-height: 30px;
  }

  .sm-banner .banner-box span {
    font-size: 10px;
  }

  .sm-banner .banner-box h4 {
    font-size: 11px;
    font-weight: 700;
  }
}

@media (max-height: 399px) {
  #nav-bar {
    overflow-y: scroll;
  }

  .main-sec-home {
    height: 100vh;
    background-position: top 30% right 70%;
  }

  .sm-banner .banner-box {
    height: 80vh;
    background-position: top 10% right 20%;
  }

  .third-banner .container div {
    height: 40vh;
  }

  h2 {
    font-size: 30px;
  }

  .main-sec-home {
    height: 30vh;
    background-position: top 47% right 48%;
  }

  h2 {
    font-size: 18px !important;
  }

  h1 {
    font-size: 20px !important;
  }

  p {
    font-size: 7px !important;
    line-height: 0px !important;
  }

  .main-sec-home button {
    font-size: 10px;
    padding: 5px 15px 5px 15px;
    background-position: top 30% right 30%;
  }

  .news-letters .input-email button {
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media (max-width: 299px) {
  .main-sec-home {
    height: 40vh;
    background-position: top 47% right 55%;
  }

  .sm-banner .banner-box {
    min-width: 250px;
  }

  .news-letters .input-email input {
    width: 150px;
    font-size: 10px;
  }

  .news-letters .input-email button {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* Payment page */
.main-payment {
  background-color: #eee;
  width: 100%;
}

.payment {
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
  background-color: white;
  box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
}

.payment .heade-holder {
  background-color: #eee;
}

.payment .heade-holder .text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.payment .heade-holder .text h2 {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  margin: 0;
  line-height: normal !important;
  padding: 20px;
}

.payment .heade-holder .img-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.payment .heade-holder .img-price .total-price span {
  font-size: 16px;
  font-weight: 700;
}

.payment .holder {
  background-color: white;
  padding: 10px 10px 0;

}

.payment .holder .div-click {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 30px 0;

}

.payment .holder .div-click h4 {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 550;
  font-size: 13px;
}

.payment .holder .div-click .holde {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
  height: 35px;
  padding: 12px 14px;
  border-radius: 2px;
  margin-bottom: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.4);
}

.payment .holder .carde-info .holde {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.payment .holder .div-click i {
  color: var(--main-color);
}

footer p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #a2a2a2;
  font-family: "Roboto";
  font-style: normal;
  font-size: 9px;
}

footer p a {
  transition: all .3s;
}

footer p a:hover {
  color: #1f80e0;
  font-size: .59rem;
}


/* Registration Page*/
.main-log {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  border: 1px solid #14a800;
  border-radius: 10px;
  padding: 30px 30px 20px;
}

.main-log .head {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin: 0 35px 30px;
}

.main-log .log {
  margin: 0 35px 30px;
  text-align: center;
  width: 330px;
}

.main-log .email-input {
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 30px;

}

.main-log .email-input form {
  position: relative;
}

.main-log .email-input form .forget-password {
  position: absolute;
  right: 5px;
  height: 20px;
}

.main-log .email-input form .forget-password a {
  color: red;
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-bottom: 30px;
}

.main-log .User-login-email i,
.main-log .User-login-pass div {
  position: absolute;
  left: 7px;
}

.main-log .email-input form div input {
  outline: none;
  font-size: 15px;
  font-weight: 500;
  width: 325px;
  border: 2px solid #e4ebe4;
  height: 20px;
  padding: 17px 5px 17px 35px;
  border-radius: 10px;
}



.main-log .email-input form .User-sinUp-country .layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.main-log .email-input form ul {
  max-height: 200px;
  overflow-y: scroll;

}

.main-log .email-input form .options {
  position: absolute;
  z-index: 2;
  left: 2px;
  top: 41px;
  background-color: white;
  width: 100%;
  text-align: left;
  border-radius: 7px;
  box-shadow: -6px 20px 30px rgb(0 0 0 / 9%);
  overflow: hidden;
}

.main-log .email-input form .options.hidden {
  height: 0;

}

.main-log .email-input form .search {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: auto;
}


.main-log .email-input form .search div {
  position: relative;
  left: 28px;

}

.main-log .email-input form ul li {
  position: relative;
  font-size: 14px;
  font-weight: 550;
  cursor: pointer;
  padding: 10px 0 10px 25px;
}

.main-log .email-input form ul li.selected::before {
  content: '';
  height: 5px;
  width: 5px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}



.main-log .email-input form ul li:hover {
  background-color: #f2f7f2;
}


.main-log .email-input form #checkboxInput {
  width: 15px !important;
  margin: 10px !important;
  padding: 0 !important;
}

.main-log .email-input form .search input {

  border-radius: 30px !important;
  padding: 5px 35px !important;
  font-size: 12px;
  height: 25px !important;
}

.main-log .email-input form div svg {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;

}

.main-log .email-input form div input:focus {
  border: 2px solid #bcc7bc;
}

.main-log .email-input form button,
.main-log .accounts div button,
.main-log .sin-up button {
  border-color: transparent;
  background-color: #14a800;
  color: white;
  border-radius: 30px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
}

.main-log .email-input form button:hover {
  background-color: #3c8224;
}

.main-log .email-input .or-span {
  padding: 5px;
  position: relative;
  bottom: -40px;
  background-color: white;
  font-size: 15px;
  color: #747474;
}

.main-log .email-input form>div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-log .accounts {
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 75px;
  margin-bottom: 50px;
}

.main-log .accounts .google-log button {
  background-color: #4285f4;
}

.main-log .accounts .google-log::before {
  content: "";
  width: 38px;
  max-width: 38px;
  height: 38px;
  border-radius: var(--btn-radius);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='38' height='38' viewBox='0 0 101.33 101.33' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M0 0h101.33v101.33H0z'/%3E%3Cpath d='M50.667 36.167c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85c-4.16-3.87-9.59-6.25-16.06-6.25-9.38 0-17.49 5.38-21.44 13.22l7.98 6.19c1.89-5.69 7.2-9.91 13.46-9.91z' fill='%23ea4335'/%3E%3Cpath d='M73.647 51.217c0-1.57-.15-3.09-.38-4.55h-22.6v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z' fill='%234285f4'/%3E%3Cpath d='M37.197 55.257c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19c-1.63 3.24-2.55 6.9-2.55 10.78s.92 7.54 2.56 10.78z' fill='%23fbbc05'/%3E%3Cpath d='M50.667 74.667c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19c3.96 7.85 12.07 13.23 21.45 13.23z' fill='%2334a853'/%3E%3Cpath d='M26.667 26.667h48v48h-48z' fill='none'/%3E%3C/svg%3E");
  align-self: center;
  justify-self: start;
  flex-grow: 1;
  display: flex;
  position: absolute;
  left: 67px;
  margin-top: 21px;
  border-radius: 50%;
}

.main-log .accounts .apple-log button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.main-log .accounts span {
  position: relative;
  bottom: -86px;
  padding: 5px;
  background-color: white;
  color: #747474;
  font-size: 14px;
}

.main-log .sin-up button {
  width: 200px;
  margin: 0;
  background-color: transparent;
  color: #14a800;
  border: 1px solid #14a800;
}

.main-log .sin-up button:hover {
  background-color: #f2f7f2;
}



.layout .img-log {
  position: fixed;
  z-index: 10;
  width: 100vw;
  background-color: white;
}



/*Sin-Up Page*/
.sin-up .img-log {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  padding: 0 30px;
}

.sin-up .accounts .google-log::before {
  left: 22px;
}

.sin-up .main-log {
  padding: 30px 20px 20px
}

.sin-up .main-log .log {
  margin: 0 0 100px;
  width: 100%;
}

.sin-up .head {
  margin: 0 35px 10px;
}

.sin-up .accounts {
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.sin-up .accounts span {
  bottom: -15px;
}

.sin-up form input {
  padding: 17px 5px 17px 10px !important;
  width: 100% !important;

}

.sin-up .User-sinUp-name {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sin-up .User-sinUp-name div {
  flex-grow: 1;
  position: relative;
}

.sin-up .email-input {
  border: none;
}

form>div {
  position: relative;
}

.icon-eyes {
  position: absolute;
  right: 10px;
}

.errors {
  position: absolute;
  right: 9px;
  top: -12px;
  color: red;
  font-size: 9px;
}

.errors a {
  text-decoration: underline;
  color: red;
}

.sin-up .User-sinUp-name input {
  width: auto !important;
}

.sin-up .log-in-text {
  font-size: 13px;
  font-weight: 500;
}

.sin-up .log-in-text a,
.sin-up .img-log a {
  font-weight: 600;
  color: #1f57c3;

}

.sin-up .log-in-text a:hover,
.sin-up .img-log a:hover {
  text-decoration: underline;
}



@media (max-width:999px) {
  .sin-up .User-sinUp-name input {
    width: 100% !important;
  }

  .sin-up .User-sinUp-name {
    gap: 20px !important;
  }
}

.verify-holder,
.verify-holder>div {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.verify-holder .text-verify {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .6px;
}

.verify-holder p {
  color: #747474;
  font-size: 10px !important;
  font-weight: 500;
  margin: 4px 0 !important;
}

.verify-holder .change-email {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verify-holder a {
  font-size: 10px !important;
  text-decoration: underline;
  font-weight: 700;
  color: #108a00;

}

.verify-holder i {
  font-size: 8px;
  background: #108a00;
  border-radius: 50%;
  color: white;
  padding: 2px;
}

.verify-holder .update-email {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: .3s;
  margin-top: 5px;
}


.verify-holder .change-email .update-email input {
  padding: 14px 0px 14px 5px;
  width: 250px;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid #e4ebe4;
  height: 20px;
  font-size: 12px;
}

.verify-holder .change-email .update-email .sin-up button {
  width: 150px !important;
  padding: 6px 0;
}

.verify-holder button {
  border-color: transparent;
  border-radius: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 200px;
  margin: 0;
  background-color: transparent;
  color: #14a800;
  border: 1px solid #14a800;

}

.verify-holder .normal {
  border-color: transparent;
  background-color: #14a800;
  color: white;
  border-radius: 30px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
}

.verify-holder .normal:hover {
  background-color: #3c8224;
}

.verify-holder .help-verify div {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
}

.verify-holder .help-verify .info-verify div {
  margin-bottom: 25px;
}

.verify-holder .help-verify .info-verify.show {
  height: 165px;
}

.verify-holder .help-verify div p {
  font-size: 8px !important;
}

i.hidden-slide {
  display: none;
}

.flash-errors,
.flash-success,
.flash-warning,
.flash-toast {
  background-color: #fcede9;
  min-width: 270px;
  max-width: 350px;
  width: 90%;
  height: 30px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .3s;
  box-shadow: 1px 20px 30px rgb(0 0 0 / 15%);
  z-index: 10;
  border: 1px solid #f5c6bc;


}

.flash-errors .content-flash,
.flash-success .content-flash,
.flash-warning .content-flash,
.flash-toast .content-flash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flash-errors .icon-flash,
.flash-warning .icon-flash {
  padding: 4px;
  background-color: red;
  border-radius: 6px;
  margin-right: 10px;
}

.flash-errors .icon-flash i {
  color: white;
}

.flash-success .icon-flash,
.flash-toast .icon-flash {
  padding: 3px;
  background-color: #3ebe61;
  border-radius: 7px;
  margin-right: 10px;
}

.flash-success .icon-flash i,
.flash-toast .icon-flash i {
  color: #3ebe61 !important;
  padding: 2px;
  background-color: white;
  border-radius: 15px;
}


.flash-success {
  background-color: #ebf7ee;
  border-color: #bee5c8;
  max-width: 300px;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 15%);
}

.flash-errors.hidden,
.flash-success.hidden,
.flash-warning.hidden,
.flash-toast.hidden {
  top: -30px;
  box-shadow: none;
}

.flash-success i {
  color: var(--main-color) !important;

}

.flash-success h6,
.flash-errors h6,
.flash-warning h6,
.flash-toast h6 {
  font-size: 12px;
  font-weight: 500;
}

.flash-errors i,
.flash-success i,
.flash-warning i,
.flash-toast i {
  color: hsl(0deg 96% 45%);
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;

}

.flash-warning {
  background-color: #fef7ea;
  border-color: #f9ddae;
}

.flash-warning .icon-flash {
  background-color: #ef9400;
}

.flash-warning .icon-flash i {
  color: white;
}

.flash-warning .content-flash i {
  color: #ef9400;

}

.flash-toast {
  background-color: #e5effa;
  border-color: #bfd8f4;
}

.flash-toast .icon-flash i {
  font-size: 14px;
  padding: 2px 1px 1px 6px;
  color: #006ce4 !important;
  width: 17px;
  height: 18px;
  border-radius: 50%;
}

.flash-toast .icon-flash {
  background-color: #006ce4;
}

.flash-toast .content-flash i {
  color: #006ce4;
}


#img-master {
  position: absolute;
  width: 0;
  opacity: 1;
  transition: .8s;
  left: 0;
  top: 0;
}

#img-master.move {
  width: 25%;
  opacity: 1;
  z-index: 2;
  border-radius: 10px;
  margin-top: 2px;
}

.email-loading {
  position: absolute;
  right: 15px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  box-shadow: inset 1px 0px 0px 0px rgb(24 104 55);
  animation: spin 1.5s linear infinite;
  display: none;
}

.email-loading.show {
  display: block;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}