<%- include('../partials/head.ejs') %>

  <body>
    <div class="layout sin-up">
      <div class="img-log">
        <img src="../imgs/logo.png" alt="">
        <a href="/users/login">Log In</a>
      </div>
      <div class="main-log">
        <div class="text-head">
          Sin Up to Cera
        </div>
        <div class="log">
          <div class="accounts">

            <div class="apple-log">
              <button><i class="fa-brands fa-apple"></i> Containue with Apple</button>
            </div>
            <div class="google-log">
              <button>Containue with Google</button>
            </div>
            <span>or </span>
          </div>
          <div class="email-input">
            <form action="" method="post">
              <div class="User-sinUp-name">
                <input required type="text" minlength="2" name="firstName" id="firstName" placeholder="Frist name"
                  maxlength="12">
                <input required type="text" name="lastName" id="lastName" placeholder="Last name">
              </div>
              <div class="User-sinUp-email">
                <span class="errors">
                  <%= errors.email %>
                </span>
                <input required type="email" name="email" id="email" placeholder="Email">
              </div>
              <div class="User-sinUp-pass">
                <input required type="password" minlength="8" maxlength="15" name="password" class="password-input"
                  id="password" placeholder="Password">

                <div class="icon-eyes">
                  <i class="fa-sharp fa-solid fa-eye-slash"></i>
                  <i class="fa-solid fa-eye" style="display:none ;"></i>
                </div>
              </div>

              <div class="User-sinUp-country">
                <input required type="text" name="country" id="country" placeholder="Country">
              </div>
              <button class="normal">Create my account</button>
            </form>
          </div>
          <div class="log-in-text">
            Already have an account?<a href="/users/login"> Log In</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../js/app.js"></script>
  <script>
    passordFunction();
  </script>

  </html>