<%- include('../partials/head.ejs') %>

  <body>
    <div class="layout">
      <div class="img-log">
        <img src="../imgs/logo.png" alt="">
      </div>
      <div class="main-log">
        <div class="head">
          Log in to Cera
        </div>
        <div class="log">
          <div class="email-input">
            <form action="" method="post">
              <div class="User-login-email">
                <span class="errors">
                  <%= errors.email %>
                </span>
                <i class="fa-solid fa-user"></i>
                <input required type="email" name="userEmail" id="userEmail" placeholder="Username or Email">

              </div>
              <div class="User-login-pass">
                <span class="errors">
                  <%= errors.password %>
                </span>
                <div>
                  <i class="fa-sharp fa-solid fa-eye-slash"></i>
                  <i class="fa-solid fa-eye" style="display:none ;"></i>
                </div>

                <input required type="password" name="userPassword" class="password-input" id="userPassword"
                  placeholder="Password">

              </div>
              <button class="normal">Containue with Email</button>
            </form>
            <span class="or-span">or</span>
          </div>
          <div class="accounts">
            <div class="google-log">
              <button>Containue with Google</button>
            </div>
            <div class="apple-log">
              <button><i class="fa-brands fa-apple"></i> Containue with Apple</button>
            </div>
            <span>Don't have an Upwork account? </span>
          </div>
          <div class="sin-up">
            <a href="/users/sinup"><button>Sin Up</button></a>
          </div>
        </div>
      </div>

    </div>
    <script src="../js/app.js"></script>
    <script>
      passordFunction();
    </script>

  </body>

  </html>