<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/flashMsg.ejs') -%>


      <div class="layout">
        <div class="img-log">
          <img src="../imgs/logo.png" alt="">
        </div>
        <div class="main-log">
          <div class="head">
            Log in to Cera
          </div>
          <div class="log">
            <div class="email-input">
              <form id="signup-form" >
                <div class="User-login-email">
                  <span class="errors"></span>
                  <i class="fa-solid fa-user"></i>
                  <input autocomplete="" class="input" type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="User-login-pass">
                  <span class="errors"></span>
                  <div>
                    <i class="fa-sharp fa-solid fa-eye-slash"></i>
                    <i class="fa-solid fa-eye" style="display:none ;"></i>
                  </div>
                  <input autocomplete="" class="input password-input" type="password" name="password" id="password"
                    placeholder="Password">
                </div>
                <div class="forget-password"><a href="/auth/forgetPassword"> Forget password </a></div>
                <button class="normal">
                  Continue with Email
                </button>
              </form>

              <span class="or-span">or</span>
            </div>
            <div class="accounts">
              <div class="google-log">
                <button>Continue with Google</button>
              </div>
              <div class="apple-log">
                <button><i class="fa-brands fa-apple"></i> Continue with Apple</button>
              </div>
              <span>Don't have an Upwork account? </span>
            </div>
            <div class="sin-up">
              <a href="/auth/signup"><button>Sign Up</button></a>
            </div>
          </div>
        </div>

      </div>

      <%- include('../partials/scripting.ejs') %>
  </body>
  <script>
    passwordFunction()
    logIn()

  </script>

  </html>