<!DOCTYPE html>
<html>

<head>
  <title>Verify Email</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/styleEmail.ejs') -%>
</head>

<body>
  <table>
    <tr>
      <td>
        <img class="head-img" src="http://drive.google.com/uc?export=view&id=1Qe3gvR5cMvkennNxZm2bxs0e9oazCgzQ"
          alt="photo" />
      </td>
    </tr>
    <tr>
      <td>
        <h1>Reset your password to can log in </h1>
      </td>
    </tr>
    <tr>
      <td>
        <p>Thanks for your interest in joining Cera!
          <br>
          To can log in, we need you to reset your password.
        </p>
        <a href=<%=url %> class="button">Reset Password</a>
      </td>
    </tr>
    <tr>
      <td>
        <span class="team">Cera Team</span>
        <p class="warning"> This message is available for 30 minutes only</p>
      </td>
    </tr>
  </table>
</body>

</html>